<footer class="text-white p-5">
  <div class="foot1 container-fluid px-5 py-5">
    <div class="container row">
      <div
        class="text-center col-md-4 mb-md-0 pb-md-0 mb-md-0 pb-md-0 mb-5 pb-5"
      >
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="text-center col-md-4 mb-md-0 pb-md-0 mb-5 pb-5">
        <h3 class="mb-3">AROUND THE WEB</h3>
        <span class="border border-1 border-white rounded-circle py-2 px-1 m-1"
          ><i class="fa-brands fa-facebook mx-2 fs-6"></i
        ></span>
        <span class="border border-1 border-white rounded-circle py-2 px-1 m-1"
          ><i class="fa-brands fa-twitter mx-2 fs-6"></i
        ></span>
        <span class="border border-1 border-white rounded-circle py-2 px-1 m-1"
          ><i class="fa-brands fa-linkedin mx-2 fs-6"></i
        ></span>
        <span class="border border-1 border-white rounded-circle py-2 px-1 m-1"
          ><i class="fa-solid fa-globe mx-2 fs-6"></i
        ></span>
      </div>
      <div class="text-center col-md-4 mb-md-0 pb-md-0 mb-5 pb-5">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="text-center foot2 p-4 text-white">
  Copyright © Your Website 2021
</div>
